@tailwind base;
@tailwind components;

.stars__star-icon {
    background-image: url(/public/images/product/star.svg);
    @apply block w-8 h-8 transition-transform duration-150;
}

.stars__star-icon--interactive {
    @apply hover:scale-110;
}

.stars__star-input {
    @apply absolute opacity-0;
}

.stars__star-input:focus-visible + .stars__star-icon {
    @apply outline-black;
}

.stars--fill .stars__star-icon {
    background-image: url(/public/images/product/star-filled.svg);
    transform: scale(1);
}

@tailwind utilities;
